:root {
  --bgSite: #F3F7FF;
  --bgCard: #ebe9ea;
  
  --white: #fff;

  --title: #121214;
  --text: #474747;
}

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

/* Fontes Internas */

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-Bold.ttf);
  src: url(/assets/fonts/Montserrat-Medium.ttf);
  src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}

/* Top Bar Header */

.header_top_bar {
  display: flex;
  padding: 1.1875rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--bgSite);
}

.header_top_bar h1 {
  color: var(--title);
  align-items: center;
  font-family: MontSerrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* Header */

.header_container {
  width: 100%;
  height: 25rem;
  background: url(/assets/images/image-michael-jordan.png); 
  flex-direction: column;
  /* top: 5.875rem; */

}

.header_content {
  display: flex;
  top: 7.8rem;
  left: 22rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  position: absolute;
}

.header_title {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.header_title img {
  position: relative;
  width: 48px;
  height: 48px;
}


.header_title h3 {
  display: flex;
  position: relative;
  width: fit-content;
  font-family: Montserrat, Helvetica;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  line-height: normal;
  white-space: nowrap;
  align-items: center;
  
}

.header_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.header_information h1 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  color: var(--white);
  font-size: 2rem;
  line-height: normal;
  white-space: nowrap;
  
}

.header_information p {
  position: relative;
  width: 34.8125rem;
  font-family: MontSerrat;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.1rem;
}
/* Main */