:root {
  --bgSite: #F3F7FF;
  --bgCard: #ebe9ea;
  
  --white: #fff;

  --title: #121214;
  --text: #474747;
}

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  max-width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

/* Fontes Internas */

@font-face {
  font-family: Montserrat;
  src: url(/assets/fonts/Montserrat-Bold.ttf);
  src: url(/assets/fonts/Montserrat-Medium.ttf);
  src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}

/* Top Bar Header */

.header_top_bar {
  display: flex;
  padding: 1.1875rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--bgSite);
}

.header_top_bar h1 {
  color: var(--title);
  align-items: center;
  font-family: MontSerrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

/* Header */

.header_container {
  width: 100%;
  height: 25rem;
  background: url(/assets/images/image-michael-jordan.png);
  background-size: cover;
  flex-direction: column;
  /* top: 5.875rem; */

}

.header_content {
  display: flex;
  top: 7.8rem;
  left: 22rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  position: absolute;
}


.header_title {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.header_title img {
  position: relative;
  width: 48px;
  height: 48px;
}

.header_title h3 {
  display: flex;
  position: relative;
  width: fit-content;
  font-family: Montserrat, Helvetica;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  line-height: normal;
  white-space: nowrap;
  align-items: center;
  
}

.header_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.header_information h1 {
  position: relative;
  /* width: fit-content; */
  margin-top: -1px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  color: var(--white);
  font-size: 2rem;
  line-height: normal;
  white-space: nowrap;
  
}

.header_information p {
  position: relative;
  /* width: 34.8125rem; */
  font-family: MontSerrat;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.1rem;
}

/* Main */

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  position: relative;
  /* margin: 0 2rem; */
}

.div .heading {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.div .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: Montserrat;
  font-weight: 600;
  color: #121214;
  font-size: 2rem;
  text-align: center;
  /* letter-spacing: 0; */
  line-height: normal;
  /* white-space: nowrap; */
}

.div .p {
  position: relative;
  max-width: 43rem;
  width: fit-content;
  font-family: Montserrat;
  font-weight: 400;
  color: #121214;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.items {
  display: flex;
  max-width: 76rem;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2.5rem 2rem;
  flex-wrap: wrap;
}

.items .card {
  display: flex;
  /* width: 24rem; */
  /* height: 20.5rem; */
  /* width: calc((100% - 4rem) / 3); */
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  /* position: relative; */
  /* flex: 0 0 auto; */
  /* margin: 0 2.5rem; */
}

.items .imagem {
  display: flex;
  width: 24rem;
  height: 12.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  position: relative;
  width: 100%;
  background-color: #f3f7ff;
}

.items .img {
  position: relative;
  width: 14rem;
  height: 8.43rem;
  object-fit: cover;
}

.items .detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  gap: 0.75rem;
}

.items .text-wrapper {
  position: relative;
  width: 24rem;
  margin-top: -1px;
  font-family: Montserrat;
  font-weight: 500;
  color: #121214;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 23.4px;
  text-justify: auto;
}

.items .div {
  position: relative;
  width: fit-content;
  font-family: Montserrat;
  font-weight: 500;
  color: #7ca1f4;
  font-size: 1rem;
  letter-spacing: 0;
  padding: -5rem 0;
  line-height: normal;
  white-space: nowrap; 
}

.items .text-wrapper-2 {
  /* position: relative; */
  /* width: fit-content; */
  font-family: Montserrat;
  font-weight: 500;
  color: #121214;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 768px) {
  /* Estilos específicos para Tablets e iPads */
  .header_content {
    position: absolute;
    left: 2rem;
    width: 40rem;
  }
  
  .div {
    display: flex;
    width: 50rem;
    margin: 0 2rem;
    margin: 0 auto;

  }
  
  .div .heading {
    display: flex;
    width: 50rem;
  }
}

@media (max-width: 480px) {
  /* Estilos específicos para a Maioria dos Smartphones Móveis */
  .header_content {
    position: absolute;
    right: 1.4375rem;
    top: 10rem;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .header_information h1 {
    font-size: 1.5rem;
  }

  .header_information P {
    font-size: 1rem;
    justify-content: justify;
      /* width: 20rem; */
  }

  .div {
    display: flex;
    width: 30rem;
    margin: 0 auto;
  }
  
  .div .heading {
    display: flex;
    width: 32.5rem;
  }
}

